{{template "smtp_info" .}}

<h1>Reset Password (YouTube Downloader app)</h1>
<p>Reset token: {{.Token}}</p>
<p>Go to <a href="https://mashaventa.com">teaganssite.com/reset_pw</a> to continue.</p>
<p><small>This password reset token will expire in 1 hour</small></p>
