{{template "smtpInfo" .}}

<h1>Hi {{.FirstName}}</h1>
<h3>Thank you for creating an account!</h3>
<p>This is your confirmation for signing up for Teagan's WebApp</p>
<p>Enjoy the rest of your day :)<p/>
